#wrap{width: 100%; max-width: 1000px; margin: 50px auto;}
#wrap table{width: 100%; border-collapse: collapse ;}
#wrap table caption{font-size: 30px ; color: #000; padding:30px 0  ; font-weight: 600;}
#wrap table th{height: 60px; font-size: 18px; color: #888; border-bottom: 1px solid #ddd ; background-color: rgb(224, 224, 224);}
#wrap table td{ text-align: center; height: 60px; color: #888; border-bottom: 1px solid #ddd; font-size: 16px;}
#wrap .top{ width: 100%; max-width: 1000px; margin: 0 auto;  text-align: right; padding: 50px 0 0 0 ;}
#wrap .top a{font-size: 20px; font-weight: 600; color: rgb(152, 152, 152); text-decoration: none;}
#wrap .top a:hover{color: #000;}